{% extends 'main.html' %} {% block content %}
<div class="banner">
    <h1>
        MyBooks | Udacity Activity
    </h1>
    <div>
        <a class="btn cold" href="/add-book"> Add + </a>
    </div>
</div>
<ul>
    {%for mybook in mybooks %}
    <li>
        <div class="book-title">
            <h3>
                {{ mybook.title }} | {{ mybook.author }}
            </h3>
            {% if mybook.read == True %}
            <div>
                &#10003;
            </div>
            {% endif %}
        </div>
        <p>type, {{ mybook.type }} </p>
        {% if mybook.read == False %}
        <div class="book-actions">
            <button id="btnRead" data-mybook_id="{{mybook.id}}" class="btn success"> Read </button>
            <button id="btnDelete" data-mybook_id="{{mybook.id}}" class="btn danger"> Delete </button>
        </div>
        <!-- <form method="POST" action="/{{mybook.id}}">
            <input type="submit" id="btnRead" data="{{mybook.id}}" value="Read" name="readButton" class="btn success" />
            <input type="submit" id="btnDelete" data="{{mybook.id}}" value=" Delete " name="deleteButton " class="btn danger " />
        </form> -->
        {% endif %}
    </li>
    {% endfor %}
</ul>

<script>
    //Ajax method for delete
    $('#btnRead').click(function(e) {
            e.preventDefault();
            var book_id = $(this).data('mybook_id');
            $.ajax({
                url: '/' + book_id,
                type: 'PUT',
                // data: {
                //     'read': 'True'
                // },
                success: function(data) {
                    console.log(jsonify(data));
                }
            });
            window.location.reload();
        })
        //Ajax method for delete
    $('#btnDelete').click(function(e) {
        e.preventDefault();
        var book_id = $(this).data('mybook_id');
        $.ajax({
            url: '/' + book_id,
            type: 'DELETE',
            // data: {
            //     'read': 'True'
            // },
            success: function(data) {
                console.log(jsonify(data));
            }
        });
        window.location.reload();
    })
</script>
{% endblock %}