{% extends 'layouts/main.html' %} {% block title %}New Venue{% endblock %} {% block content %}

<div class="form-wrapper">
    <!-- <script>
        var genresString = [];
        var jsondata

        function addgenre() {
            $(document).ready(function() {
                genresString = [];
                // $('#hiddenvalue').val($('#selector').val());
                var value = $('#selector').val().toString();
                console.log($('#selector').val().toString());
                genresString.push(value);
                console.log(genresString);
                jsondata = JSON.stringify(genresString)
                console.log(jsondata);
            })
            $.ajax({
                type: 'POST',
                url: '/venues/create',
                data: jsondata
            })
        }
    </script> -->
    <form method="post" class="form" action="/venues/create">
        {{ form.csrf_token }}
        <h3 class="form-heading">
            List a new venue
            <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i
      ></a>
        </h3>
        {% if form.phone.errors %} {% for error in form.phone.errors %}
        <div class="alert alert-block alert-info fade in">
            <a class="close" data-dismiss="alert">&times;</a> {{ error }}
        </div>
        {% endfor %} {% endif %}
        <div class="form-group">
            <label for="name">Name</label> {{ form.name(class_ = 'form-control', autofocus = true) }}
        </div>
        <div class="form-group">
            <label>City & State</label>
            <div class="form-inline">
                <div class="form-group">
                    {{ form.city(class_ = 'form-control', placeholder='City', autofocus = true) }}
                </div>
                <div class="form-group">
                    {{ form.state(class_ = 'form-control', placeholder='State', autofocus = true) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="address">Address</label> {{ form.address(class_ = 'form-control', autofocus = true) }}
        </div>
        <div class="form-group">
            <label for="phone">Phone</label> {{ form.phone(class_ = 'form-control', placeholder='xxx-xxx-xxxx', autofocus = true) }}
        </div>
        <div class="form-group">
            <label for="genres">Genres</label>
            <small>Ctrl+Click to select multiple</small>
            <!-- <select id='selector' multiple autofocus placeholder="Genres, separated by commas" style="height: 200px;min-width:100%" onchange="addgenre()">
                {%for genre in form.genres %} 
                    <option>{{genre}}</option>
                {% endfor %}
            </select> -->
            {{ form.genres(class_ = 'form-control', placeholder='Genres, separated by commas', autofocus = true, multiple = true) }}

        </div>
        <div class="form-group">
            <label for="facebook_link">Facebook Link</label> {{ form.facebook_link(class_ = 'form-control ', placeholder='http:// ', autofocus = true) }}
        </div>

        <div class="form-group">
            <label for="image_link">Image Link</label> {{ form.image_link(class_ = 'form-control ', placeholder='http:// ', autofocus = true) }}
        </div>

        <div class="form-group">
            <label for="website_link">Website Link</label> {{ form.website_link(class_ = 'form-control ', placeholder='http:// ', autofocus = true) }}
        </div>

        <div class="form-group">
            <label for="seeking_talent">Looking for Talent</label> {{ form.seeking_talent(placeholder='Venue ', autofocus = true, value='y ') }}
        </div>

        <div class="form-group">
            <label for="seeking_description">Seeking Description</label> {{ form.seeking_description(class_ = 'form-control ', placeholder='Description ', autofocus = true) }}
        </div>

        <input type="submit" value="Create Venue" class="btn btn-primary btn-lg btn-block" />
    </form>

</div>

{% endblock %}